# dependencies
node_modules/

# env
.env
.env.local
.env.*.local

# build
dist/
.next/
out/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# database / prisma
backend/prisma/dev.db

# system
.DS_Store

# uploads local
/backend/uploads/

# Prisma generated client
backend/generated/
